<h1>Articles</h1>

<table>
  <tr><br>
    <th>Title</th>
    <th>Description</th>
  </tr>
   <%  @data.each do |article| %>
    <tr>
      <td><%= article %></td>   
    </tr>
  <% end %>
</table>




