<center><h1 style="color: blue;"><%= @data['title'] %></h1></center>
<p>
	<strong>Description :</strong>
   	<%= @data['description'] %>
</p>
<p>
	<strong>Date :</strong>
	<%= @data['date'] %>
</p>
<p>
	<strong>Day	:</strong>
	<%= @data['day'] %>
</p>